body{
	font: 300 14px/1.8 'Source Sans Pro', Helvetica, sans-serif;
	color: #838886;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", Helvetica, sans-serif;
}
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	padding: 0 18px;
	line-height: 44px;
	font-family: "Montserrat", Helvetica, sans-serif;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	max-width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}

/* header */
.ba-header {
	line-height: 50px;
	height: 50px;
	width: 100%;
	background: #7f7e93;
	position: fixed;
	z-index: 10;
	font-family: "Montserrat", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.ba-logo {
	float: left;
}
.ba-logo i,
.ba-logo h1{
	display: inline-block;
	padding: 0;
	margin: 0;
}
.ba-logo i {
	color: #f06862;
	margin-right: 7px;
	font-size: 16px;
}
.ba-logo h1 {
	font-size: 15px;
	color: #fff;
}

.ba-menu {
	float: right;
	padding: 0;
	margin: 0;
	list-style: none;
}
.ba-menu > li {
	display: inline-block;
	margin-right: 14px;
	position: relative;
}
.ba-menu a {
	line-height: 13px;
	display: block;
	font-size: 13px;
	text-decoration: none;
	padding: 10px 14px;
	color: #fff;
}
.ba-menu a:hover {
	background-color: #767588;
}
.active {
	background-color: rgba(0, 0, 0, 0.25);
}
.ba-submenu {
	position: absolute;
	display: none;
	z-index: 5;
	padding: 5px 0;
	margin:  0;
	list-style: none;
	width: 170px;
	background-color: #7f7e93;
	top: 50px;
	left: -5px;
	transition: all .3s ease .3s;
}
/* .ba-submenu > li {
	position: relative;
	border-bottom: 1px solid #dfdee4;
} */
.ba-submenu__item {
	position: relative;
	border-bottom: 1px solid #dfdee4;
}
.ba-submenu:before {
	content:"";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent #7F7E93;
	border-width: 10px;
	top:-20px;
	left:50%;
	margin-left: -10px;
	z-index:2;
}

.ba-menu > li:hover .ba-submenu {
	display: block;
}
.ba-submenu__item  > a {
	padding: 10px 15px;
	white-space: nowrap;
	color: #dfdee4;
}

.ba-submenu a:hover {
	background-color: #f06862;
}

.ba-sub-submenu {
	position: absolute;
	display: none;
	padding: 4px 0;
	margin: 0;
	list-style: none;
	top: -4px;
	left: 169px;
	background: #7f7e93;
}

.ba-submenu > li:hover .ba-sub-submenu{
	display: block;
}
.ba-sub-submenu > li{
	border-bottom: 1px solid #dfdee4;
}
.ba-sub-submenu a {
	padding: 10px 15px;
	white-space: nowrap;
	color: #dfdee4;
}
.ba-submenu > li:last-child,
.ba-sub-submenu > li:last-child {
	border-bottom: none;
}

/* ba-baner */
.ba-baner {
	background: url(../img/banner.jpg) 50% 30% no-repeat;
	background-size: cover;
	padding: 132px 0 102px;
	font-family: "Montserrat", Helvetica, sans-serif;
	display: block;
}
.ba-baner__view {
	width: 40%;
}
.ba-baner__title {
	font-size: 33px;
	color: #ffffff;
	font-weight: bold;
	line-height: 49px;
}
.ba-baner__text {
	font-size: 18px;
	line-height: 27px;
	color: #FFF;
	margin-top: -10px;
	margin-bottom: 37px;
}
.ba-baner__button a {
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 44px;
	padding: 10px 18px;
	border: 1px solid #fff;
	margin-bottom: 29px;
}
.ba-baner__button a:hover {
	background-color: rgba(255, 255, 255, 0.075);
}
/* ba-second */
.ba-second {
	background-color: #f06862;
	position: relative;
	width: 100%;
}
.ba-vultricies {
	padding: 88px 30px 59px 0;
}
.ba-vultricies h2 {
	font-size: 25px;
	font-weight: bold;
	line-height: 38px;
	margin-bottom: 26px;
	color: #fff;
	text-transform: uppercase;
}
.ba-vultricies p {
	color: #fbd9d7;
	margin-bottom: 29px;
}
.ba-button__acticeno {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #ffffff;
}
.ba-button__acticeno:hover {
	background-color: rgba(255, 255, 255, 0.075);
}
.ba-article {
	padding: 59px 0 29px 39px;
	z-index: 5;
}
.ba-article h2{
	color: #f06862;
	text-transform: uppercase;
	position: relative;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	letter-spacing: 0.9px;
	margin-bottom: 18px;
	z-index: 5;
}
.ba-article p {
	z-index: 5;
	position: relative;
	color: #868686;
}
.ba-article:before {
	content: '';
	display: block;
	height: 50%;
	left: 50%;
	top: 0;
	position: absolute;
	width: 50%;
	background: #f5f5f5;
	z-index: 1;
}
.ba-article-1:before {
	top: 0;
	background: #f5f5f5;
}
.ba-article-2:before {
	top: 50%;
	background: #ffffff;
}
/* ba-presentation */
.ba-presentation {
	background-color: #f5f5f5;
	padding: 59px 0 29px;
}
.ba-ipad {
	position: relative;
}
.ba-ipad__img {
	border: 29px solid #ffffff;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.125);
	border-radius: 8px;

}
.ba-ipad:after {
	content: "";
	display: block;
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #f0f0f0;
	right: 7px;
	top: 50%;
}
.ba-presentetion__text {
	padding: 0 0 0 44px;
}
.ba-presentetion__text h2 {
	margin: 0;
	font-size: 26px;
	font-weight: bold;
	line-height: 38px;
	margin-bottom: 26px;
}
.ba-presentetion__text h3 {
	font-size: 18px;
	margin-bottom: 37px;
	font-weight: normal;
}
.ba-presentetion__text p {
	line-height: 24px;
	margin-bottom: 29px;
}

.ba-button__etiam {
	color: #7f7f7f;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #7f7f7f;
}
.ba-button__etiam:hover {
	background-color: rgba(144, 144, 144, 0.075);
}
/* ba-aliquam */
.ba-aliquam {
	padding: 59px 0 29px;
	background-color: #FFF;
}
.ba-aliquam__view {
	text-align: center;
}
.ba-aliquam__view h2 {
	font-size: 26px;
	font-weight: bold;
	line-height: 38px;
	letter-spacing: 1.28px;
	text-transform: uppercase;
	color: #7f7f7f;
}
.ba-aliquam__view h3 {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 37px;
	font-weight: normal;
	text-transform: uppercase;
	color: #A5A5A5;
}
.ba-tree__item {
	padding: 44px 0 0;
	position: relative;
	margin-left: -20px;
}
.ba-tree__item h3 {
	margin-bottom: 18px;
}
.ba-tree__item p {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.ba-tree__item:before {
	background: rgba(144, 144, 144, 0.25);
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	top: 0;
	width: 100%;
}
.first:before{
	left: 50%;
	width: 50%;
}
.third:before {
	width: 50%;
}
.ba-tree__item:after {
	background: rgba(144, 144, 144, 0.25);
	display: block;
	content: "";
	position: absolute;
	width: 3px;
	height: 47px;
	top: 0;
	left: 50%;
	margin-left: -2px;
}

 .ba-tree__icon.fa {
	display: block;
	height: 4.5em;
	line-height: 4.5em;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	position: relative;
	margin-bottom: 44px;
}
.ba-tree__icon:before {
	font-size: 2em;
	position: relative;
	z-index: 5;
	color: #ffffff;
}
.ba-tree__icon:after {
	content: "";
	background: #f06862;
	height: 60px;
	line-height: 60px;
	width: 60px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -30px;
	transform: rotate(45deg);
}

/* ba-comment */
.ba-comment {
	padding: 59px 0 29px;
	background-color: #747389;
}
.ba-comment__title {
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	width: 400px;
	font-size: 26px;
	font-weight: bold;
	line-height: 38px;
	margin-bottom: 26px;
	color: #ffffff;
}

.ba-blockquote blockquote{
	margin: 0;
	text-align: center;
}
cite{
	text-align: center;
}
.ba-comment__image,
.ba-comment__name,
.ba-comment__ceo {
	display: block;
}
.ba-blockquote__p {
	position: relative;
	padding: 15px 29px;
	background: rgba(0, 0, 0, 0.25);
	color: #dfdee4;
	font-size: 14px;
	line-height: 24px;
	font-style: italic;
	margin-bottom: 40px;
}
.ba-blockquote__p:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px;
	border-color: rgba(0, 0, 0, 0.25) transparent transparent;
	top: 100%;
	left: 50%;
	margin-left: -20px;
	z-index: 2;
}
.ba-comment__image img{
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.075);;
}
.ba-comment__name a{
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	color: #FFF;
	font-style: normal;
}
.ba-comment__ceo {
	color: #cbcbd3;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;

}

/* ba-services */

.ba-services {
	/* padding: 44px 0 0 44px; */
}

.ba-services__item {
	position: relative;
	padding: 44px 0 0 44px;
	text-align: left;
}
.ba-services__item:before {
	background: rgba(144, 144, 144, 0.25);
	content: "";
	height: 100%;
	width: 1px;
	position: absolute;
	left: 90px;
}

.ba-services__item h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #7f7f7f;
	margin: 0 0 18px 60px;
}
.ba-services__item p {
	color: #868686;
	line-height: 24px;
	margin-left: 60px;
}
.ba-services__icon.fa {
	position: absolute;
	left: 10px;
	top: 50px;
	z-index: 5;
	height: 45px;
	line-height: 55px;
	margin-top: 10px;
	display: block;
	text-align: center;

}
.ba-services__icon:before {
	color: #FFFFFF;
	font-size: 2em;
	position: relative;
	padding-left: 15px;
	z-index: 5;
}

.ba-services__icon:after {
	content: "";
	background: #f06862;
	height: 60px;
	line-height: 60px;
	width: 60px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(45deg);
}
/* ba-footer */
.ba-footer {
	padding: 59px 0 30px;
	background-color: #f5f5f5;
	text-align: center;
}
ul.ba-social {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 30px;
}
.ba-social li {
	display: inline-block;
	padding-right: 80px;
}
.ba-social li:last-child {
	padding-right: 0;
}
.ba-social li a {
	text-decoration: none;
	position: relative;
	color: #A5A5a5;
	font-size: 20px;
	height: 44px;
	line-height: 44px;
}
.ba-social li a:after {
	content: "";
	background: rgba(144, 144, 144, 0.2);
	height: 44px;
	line-height: 44px;
	width: 44px;
	position: absolute;
	top: 0px;
	left: -12px;
	transform: rotate(45deg);
}
.copyright {
	margin-bottom: 30px;
}
